/* * {
  border: 1px solid red;
} */

#container {
  margin: auto;
  width:50%; 
  height:50%;
}
.square{ 
  border:1px solid #000;         
  padding-bottom: 30%; 
  height: 0;
  width:30%; 
  margin:1%; 
  float:left; 
  display:block;
}

.flex-center-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-container {
  width: 30%;
  margin: 1rem;
}
